REACT_APP_PINATA_API_KEY=your_pinata_api_key_here
REACT_APP_PINATA_SECRET_KEY=your_pinata_secret_key_here
REACT_APP_ALGORAND_NODE_URL=https://testnet-api.algonode.cloud
REACT_APP_LOCATION=Pune, Maharashtra
REACT_APP_APP_NAME=CipherDocs