ALGOD_ADDRESS=https://testnet-api.algonode.cloud
ALGOD_TOKEN=
CREATOR_MNEMONIC=dynamic	
View
Relief
Chaos
Sketch
Climb
Desk
Service
Never
Relief
Palace
Settle
Alter
Purpose
Meat
Brief
Heart
Early
Elder
Spawn
Provide
Village
Bike
Cattle

RECIPIENT_MNEMONIC=dynamic	
View
Relief
Chaos
Sketch
Climb
Desk
Service
Never
Relief
Palace
Settle
Alter
Purpose
Meat
Brief
Heart
Early
Elder
Spawn
Provide
Village
Bike
Cattle
